@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background:linear-gradient(to bottom,#170622,#1a1e3b);
}

/* CABECERA */

header{
    position: fixed;
    background-color: var(--azuloscuro);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding:0px 25px 0px 25px;
    border-bottom: var(--azulagua) 1px solid;
    top:0;
}

.logo{
 width: 6rem;
 height: 6rem;
 
}
.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    gap:3px;
    justify-content: center;
    
}

.navbar-list a{
    color:var(--azulclaro);
    padding:10px;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 200;
    word-spacing: 4%;
    cursor: pointer;
}


.navbar-list a:hover{
    font-size: 135%;
    color:crimson;
}

/* CABECERA */

/* MAIN */

/* HERO */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    

}

.hero{
  display: flex;
  margin: 8% 5% 5% 5%;
  text-align: center;
  color: #167C80;
  padding: 5%;
  /* border: #04637d 1px solid; */
  border-radius: 1rem;
  max-width: 1250px;
}

.hero-info{
    display:flex;
    flex-direction: column;
    gap:50px;
    width: 90%;
    padding:20px;

}

.hero-info h1{
    font-size: 70px;
    background:linear-gradient(to left,#4a00e0,crimson);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
   
}

.hero-info p{
    font-size:40px;

}

/* HERO */

/* BOTONES */

.botones {
    display: flex;
    justify-content: center;
    gap:10%;
    text-transform: uppercase;
    
}

.botones li{
    background-color: #121738;
    box-shadow: 0px 0px 10px 0px #04637d;
    border-radius: 2rem;
    width: 160px;
    height:50px;
    align-items: center;
    display: flex;
    justify-content: center;
}



.botones a{
    font-size:20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #167C80;

    
}

.botones a:hover{
    font-size: 21px;
    color:crimson
}



/* BOTONES */

/* HERO IMG */
.hero-img{
    display: flex;
   width: 50%;
   padding: 10px;
    
}

.hero-img img{
    height: 90%;
    width: 120%;
    text-align: center;
}


/* HERO IMG */

/* INFO */
.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    border:#0f7c8c 1px solid;
    padding:10px;
   justify-content: center;
    border-radius: 1rem;
   max-width: 1250px;
   margin: 5%;
    
}

.info p{
    margin:10%;
    font-size: 290%;
    padding:10px;
    text-align: center;
    color: #167C80;
    letter-spacing: 5px;
    text-transform: uppercase;
    
    
}

.info h2{
    font-size: 280%;
    text-align: center;
    padding:20px;
    background:linear-gradient(to right,#e60fd4,#2196f3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 5px;
  
}


/* INFO */

/* CARDS */

.cards{
padding:70px 0;
max-width: 1250px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:80px;
margin: 2%;
}

.cards h3{
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 15px;
    text-transform: uppercase;
    COLOR:var(--azulagua);
    background:linear-gradient(to left,#4a00e0,crimson);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.cards-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  flex-wrap:wrap;
  gap:90px;
}

.cards-data{
    width: 300px;
    height: 290px;
    padding:40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10%;
    border-radius: 1rem;
    border:#04637d 1px solid;
    
}

.cards-data img{
    height: 30%;
    
}

.cards-data h4{
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 900;
   color: #04637d;
}

.cards-data p{
    font-size: 100%;
    color:#104b6a;  
    text-transform: uppercase;
    font-weight: 900;
}

/* CARDS */

/* CONTACTO */





/* CONTACTO */

:root{
    /* paleta de colores */
--black:#170622;
--azuloscuro:#1a1e3b;
--azulmedianoche:#193454;
--azulcielo:#104b6a;
--azulmasclaro:#04637d;
--azulclaro:#0f7c8c;
--azulagua:#2e9496;
}


